
@{
    ViewBag.Title = "Play";
}

<h2>Lets Play!</h2>

<div>
    I will add the following here, get random phrase from DB, start timer, once timer runs out hide phrase, have button to get new random one.
</div>

