@model Charades.Business.Interface.DTO.PhraseDto
@{
    ViewBag.Title = "Play";
}

<h2>Lets Play!</h2>

<div>
    <h3>
        @Model.Name
        @if (Model.Year.HasValue)
        {
            @Model.Year.Value;
        }
    </h3>
</div>

